@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');

.search-bar-wrapper {
  border-bottom: 1px solid #3333;
  height: 60px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #ffffff;
}
.search-form {
  width: 150px;
  font-size: 14px;
}
.search-form input {
  text-align: center;
  color: #262626;
  border-radius: 0px;
  background: #ffffff;
  box-shadow:  -3px -3px 6px #e6e6e6, 
              3px 3px 6px #ffffff;
}

.logo-image {
  height: 100%;
}

.social-wrapper {
  display: flex;
}

.social {
  border-radius: 126px;
  background: linear-gradient(315deg, #e6e6e6, #ffffff);
  box-shadow:  -5px -5px 10px #e6e6e6, 
              5px 5px 10px #ffffff;
  width: 30px;
  height: 30px;
  margin: 5px;
}

.svg-inline--fa{
  color: rgb(80, 224, 235);
  top: 6px;
  position: relative;
}

.logo {
  width: 11%;
  border-radius: 17px;
  background: #ffffff;
  box-shadow:  -5px -5px 10px #e6e6e6, 
              5px 5px 10px #ffffff;
}

.logo svg{
  top: 3px;
  position: relative;
}

.logo span{
  font: normal 20px 'Dancing Script', sans-serif;
}