@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');

.search-bar-wrapper {
  border-bottom: 1px solid #3333;
  height: 60px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #ffffff;
}
.search-form {
  width: 150px;
  font-size: 14px;
}
.search-form input {
  text-align: center;
  color: #262626;
}

.logo-image {
  height: 100%;
}

.social-wrapper {
  display: flex;
}

.social {
  width: 50px;
}

.logo {
  font: normal 20px 'Dancing Script', sans-serif;
  width: 11%;
}